<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>game</title>
<script src="./js/akashic-engine.strip.js"></script>
<script src="./js/game-driver.strip.js"></script>
<script src="./js/pdi-browser.strip.js"></script>
<script src="./js/initGlobals.js"></script>
<script src="./js/LocalScriptAsset.js"></script>
<script src="./js/LocalTextAsset.js"></script>
<script src="./js/game-storage.strip.js"></script>
<script src="./js/logger.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="./js/game.json.js"></script>
<script src="./js/assets/script/main.js"></script>
<script src="./js/assets/script/Spinner.js"></script>
<script src="./js/assets/script/BorderRect.js"></script>
<script src="./js/assets/script/MineSweeper.js"></script>
<script src="./js/assets/script/GameScene.js"></script>
<script src="./js/assets/script/Cell.js"></script>
<script src="./js/assets/script/ResultScene.js"></script>
<script src="./js/assets/script/TitleScene.js"></script>
<script src="./js/assets/text/glyph.json.js"></script>
<script src="./js/assets/text/stage_glyph.json.js"></script>
<script src="./js/assets/script/Button.js"></script>
<script src="./js/sandbox.js"></script>
<script src="./js/atsumaru.js"></script>
<script src="./page/jquery-1.11.3.min.js"></script>
<script src="./page/animation.js"></script>
</head>
<body>
<div id="container">
</div>
<div id="side_btn">
<input type="button" value="" id="btn_save"/>
<input type="button" value="" id="btn_load"/>
</div>
</body>
</html>
